{% extends 'base.html' %}
{% load bootstrap3 %}
{% block head_title %}{{ challenge.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6" style="padding-left: 0px !important;">
            <a href="{% url 'challenge-index' %}" class="btn btn-default">< Back</a>
        </div>
        {% if request.user.is_staff %}
            <div class="col-sm-6 text-right" style="padding-right: 0px !important;">
                <a href="{% url 'challenge-stats' challenge.pk %}" class="btn btn-primary">Stats</a>
            </div>
        {% endif %}
    </div>

    <h1 style="text-align: center">{{ challenge.name }}{% if not form %} (Completed){% endif %}</h1>
    <div style="margin-bottom: 20px">
        {{ challenge.description|safe }}
    </div>

    <div style="display:flex">
        <div style="margin: 0 auto;">
            {% if challenge.type == challenge.TYPE_VIDEO %}
                <video width="320" height="240" controls style="margin: 0 auto;">
                  <source src="{{ challenge.file.url }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            {% elif challenge.type == challenge.TYPE_AUDIO %}
                <audio controls>
                  <source src="{{ challenge.file.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
            {% elif challenge.type == challenge.TYPE_FILE %}
                <a href="{{ challenge.file.url }}" class="btn btn-block btn-default" target="_blank">Download files</a>
            {% elif challenge.type == challenge.TYPE_IMAGE %}
                <img src="{{ challenge.file.url }}" width="100%">
            {% elif challenge.type == challenge.TYPE_HTML %}
                {{ challenge.get_template_html|safe }}
            {% endif %}
        </div>
    </div>
    {% if form %}
        <form method="post" style="margin-top: 20px">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-block btn-primary">Submit</button>
        </form>
    {% else %}
        <a class="btn btn-block btn-primary" href="{% url 'challenge-vote' challenge.id %}">Vote</a>
    {% endif %}

{% endblock %}
