{% extends 'base.html' %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% block head_title %}{{ challenge.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6" style="padding-left: 0px !important;">
            <a href="{% url 'challenge' challenge.pk %}" class="btn btn-default">< Back</a>
        </div>
        <div class="col-sm-6 text-right" style="padding-right: 0px !important;">
            <a href="{% url 'challenge-stats-attempt-all' challenge.pk %}" class="btn btn-primary">All attempts</a>
        </div>
    </div>

    <h1 style="text-align: center">Stats from challenge: {{ challenge.name }}</h1>
    <p>Reloading page in <span id="clock">60</span> seconds<br>
    Tried by {{ object_list|length }} users<br>
    Succeed by {{ succeed }} users<br>
    Average vote: {{ average_vote|floatformat:2 }}</p>

    {% render_table table %}

{% endblock %}
{% block extra_scripts %}
    <script>
        let time = 60;
        function to_date(text) {
            let date = new Date(text);
            return date.toLocaleString()
        }
        function timer() {
            time -= 1;
            if (time <= 0) {
                location.reload();
            } else {
                $('#clock').each(function () {
                    this.innerHTML = time.toString();
                })
            }
        }
        $( document ).ready(function() {
            $('span[name="dates"]').each(function () {
                this.innerHTML = to_date(this.innerHTML);
            })
            setInterval(timer, 1000); // Reloads page in 1 minute
        });

    </script>
{% endblock %}
